* {
    font-family: Karla;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
 :root{
    --body-color:#E4E9F7;
    --sidebar-color: #03075c;
    --hover-color: #09043d;
    --text-color:#fffefe;
    --boder-color: #fffefe;
 } 
  body {
    background-image: url('../img/background.jpg');
    background-size: cover;
  }
  .sidebar{
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: -200;
    background: var(--sidebar-color);
    transition: left 0.3s ease-in-out;
  }
  .sidebar header{
    position: relative;
  }
  .sidebar img{
    width: 100%;
  }
 .sidebar .roleuser{
  height: 80px;
  width: 100%;
  background-color: #6A91F9;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
 }
 p{
  color: #fffefe;
  font-size: 150%;
 }
  .nav-link{
    height: 30px;
    width: 100%;
    border-top: 2px var(--boder-color) ridge;
    text-align: center;
    align-content: center;
  }
 .nav-text{
    text-decoration: none;
    font-size: 120%;
    color: var(--text-color);
}
/* doi mau */
.nav-link.active {
    background-color: var(--sidebar-color); 
}

.nav-link.active:hover {
    background-color: var(--hover-color); 
}
.content{
  margin-left: 20%; 
  padding: 20px;
  color: black;
   display: none; 
}
.content.active {
  display: block; /* Show active content */
}

.content .styleOverall{
  width: 97%;
  height: 800px;
  background-color: #6A91F9;
  border-radius: 20px;
}
.content .styleOverall .overall{
  height: 50px;
  align-content: center;
  text-align: center;
  border-bottom: #ffffff 2px ridge;
  width: 95%;
  margin: 0 auto;
  
}
.content .styleOverall .overall strong{
  color: #fffefe;
  font-size: 200%;
 }
.content .styleOverall .info{
  height: 50px;
  width: 90%;
  margin: 10px 10px 10px 30px;
  padding: 10px;
}
.content .styleOverall .info p{
  display: inline;
  font-size: 200%;
}
.content .styleOverall .info span{
  float: right;
  background-color:#09043d;
  display: inline;
  color: #fffefe;
  width: 50%;
  height: 120%;
  font-size: 170%;
  border-radius: 10px;
  text-align: center;
}
.content .styleCourse{
  width: 97%;
  height: 800px;
  background-color: #6A91F9;
  border-radius: 20px;
  padding: 50px;
}
.content .styleCreateteacher .creatline{
  height: 50px;
  align-content: center;
  text-align: center;
  border-bottom: #ffffff 2px ridge;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
}
.content .styleCreateteacher .creatline p{
  color: #fffefe;
  font-size: 150%;
 }
 .content .styleCreateteacher .input_info{
  margin-top: 10px;
  align-items: center;
  text-align: center;
  height: 40px;
 } 
input{
  background-color: #362cac;
  width: 50%;
  border-radius: 2%;
  color: white;
  font-size: 100%;
  border-style: none;
  height: 100%;
  text-align: center;
}
  label{
    display: inline-block;
    width: 30%;
  }
  .content .styleCreateteacher  .submited{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
    input[type="submit"] {
      background-color: #1b1468;
      color: white;
      border: none;
      border-radius: 10%;
      cursor: pointer;
      font-size: 150%;
      height: 30px;
      width: 15%;
  }
  input[type="submit"]:hover {
      background-color: #4923a9;
      border-radius: 10%;
  }
  .content .styleCreateteacher .multiupload{
    text-align: center;
    align-content: center;
  }
  .content .styleCreateteacher .multiupload  .file-upload {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100px;
    margin-top: 10px;
}
.content .styleCreateteacher .multiupload .file-upload input[type="file"] {
    position: absolute;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #4c5f93;
}
.content .styleCreateteacher .multiupload .file-upload .upload-text {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 150%;
}

  .content .styleCourse .creatCourse form{
    padding: 15px;
    align-content: center;
    text-align: center;
  }
  .content .styleCourse .creatCourse form .input_info{
    margin-top: 10px;
    align-items: center;
    text-align: center;
    height: 40px;
  }
  .content .styleCourse .creatCourse form .input_info label{
    display: inline-block;
    width: 40%;
  }
  .content .styleCourse .creatCourse form .input_info label p{
    font-size: 150%;
  }
  .content .styleCourse .creatline{
    height: 50px;
    align-content: center;
    text-align: center;
    border-bottom: #ffffff 2px ridge;
    width: 95%;
    margin: 0 auto;
  }
 
  .content .styleCourse .creatline p{
    color: #fffefe;
    font-size: 150%;
   }
   .content .styleCourse .creatCourse form  .submited{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  select{
    background-color: #362cac;
  width: 50%;
  border-radius: 2%;
  color: white;
  font-size: 100%;
  border-style: none;
  height: 100%;
  text-align: center;
  }
 .content .styleCreateteacher{
  width: 97%;
  height: 800px;
  background-color: #6A91F9;
  border-radius: 20px;
}
.content .styleGrade{
  width: 97%;
  background-color: #6A91F9;
  border-radius: 20px;
  padding: 50px;
}
 .content .styleGrade .listcource .content-item{
    border-radius: 5px;
    background-color: #00116a;
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 70%;
    margin: 10px;
} 
.content .styleGrade .listcource .content-item .content-thumbnail {
  border-radius: 5px;
  background-color: #8595eb;
  width: 80px;
  height: 80px;
}

.content .styleGrade .listcource .content-item .content-title {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.content .styleGrade .listcource .content-item .content-title a{
  text-decoration: none;
  color: #ffffff;
  font-size: 150%;
}
.content .styleGrade .listcource .content-item .content-title p{
  font-size: 100%;
}