* {
    font-family: Karla;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('../img/background.jpg');
    background-size: cover;
  }
  
  .topnav {
    background-color: #00116A;
    height: 50px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .topnav .logo {
    float: left;
    height: 40px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    color: #823705;
  }
  
  .topnav .course {
    width: 200px;
    height: 100px;
    left: 545px;
  }
  

  .topnav .a-container:hover {
    a {
      color: black;
    }
    background-color: #ddd;
    cursor: pointer;
  }
  
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding-top: 6px;
    font-size: 32px;
  }
  
  /* Add a color to the active/current link */
  .topnav .active {
    background-color: #00113F;
    color: white;
  }

.course-student {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 32px;
    line-height: 37.41px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.input-container{
  overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    width: 1000px;
    margin: auto;
    background-color: #6A91F9;
    border-radius: 10px;
    padding: 25px;
}

.menu-button {
    background-color: #00116A;
    height: 50px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.a-container {
    float: left;
    display: block;
    background-color: transparent;
    height: 50px;
    width: max-content;
    padding: 0px 25px;
    margin: 0px;
}
  
.a-container:hover {    
    a {
      color: black;
    }
    background-color: #ddd;
    cursor: pointer;
}

.a-container active {
    background-color: #00113F;
    color: white;
}

/*Phần footer*/
.footer-container {
    display: flex;
    font-size: 24px;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .project-info {
    display: block;
    text-align: center;
    padding-left: 25px;
  }
  
  .contact-info {
    display: block;
    text-align: center;
    padding-right: 25px;
  }
/*Hết phần footer*/

.course-nav {
    align-self: center;
    display: flex;
    width: 540px;
    height: 50px;
    margin: auto;
    gap: 30px;
    align-items: center;
    font-size: 32px;
    justify-content: center; 
}

.course-nav-link {
    font-family: Karla;
    border-radius: 10px;
    background-color: #00116a;
    color: #fff;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 5px 10px;
    text-decoration: none;
    width: 250px;
    height: 50px;
}

.course-nav-link:hover {
    a {
        color: black;
    }
    background-color: #ddd;
    cursor: pointer;
}

.course-nav-link.active {
    background-color: #00116a;
    color: white;
    text-decoration: underline;
}

.body-table {
    left: 270px;
}

.section-title {
    margin-top: 30px;
    font-size: 32px;
    text-align: left;
}

.divider {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #fff;
    margin-top: 11px;
    height: 3px;
    width: 900px;
    left: 270px;
}

.content-item {
    border-radius: 5px;
    background-color: #00116a;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 20px;
    padding: 20px;
    text-align: left;
}

.content-thumbnail {
    border-radius: 5px;
    background-color: #8595eb;
    width: 80px;
    height: 80px;
}

.content-title {
    font-family: Karla, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font-size: 24px;
}

a.content-title {
  color: white;
  text-decoration: none;
}

a.content-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.course-info {
  margin-bottom: 25px;
}