* {
  font-family: Karla, Arial;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --body-color: #E4E9F7;
  --sidebar-color: #03075c;
  --hover-color: #09043d;
  --text-color: #fffefe;
  --boder-color: #fffefe;
}

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: -200;
  background: var(--sidebar-color);
  transition: left 0.3s ease-in-out;
}

.sidebar header {
  display: flex;
  position: relative;
  justify-content: center;
}

.sidebar img {
  width: 35%;
  margin: 10px 0px;
}

.sidebar .roleuser {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100%;
  background-color: #6A91F9;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin-bottom: 10px;
}

.sidebar .roleuser p {
  color: #fffefe;
  font-size: 32px;
}

.sidebar .roleuser .user-role {
  font-size: 24px;
}

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.nav-link {
  display: flex;
  height: 50px;
  width: 100%;
  border-top: 2px var(--boder-color) ridge;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-text {
  text-decoration: none;
  font-size: 24px;
  color: var(--text-color);
}

.nav-link .active {
  background-color: var(--sidebar-color);
}

.nav-link .active:hover {
  background-color: var(--hover-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  width: 22px;
  margin-left: 30px;
  margin-right: 30px;
  background-size: cover;
}

.content {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 80%;
  right: 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content .container-block{
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  background-color: #6A91F9;
  height: 90%;
  width: 80%;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content .container-block .title {
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  height: fit-content;
  color: white;
  margin-top: 10px;
  width: 90%;
  margin: 10px auto;
  border-bottom: 3px solid white;
  font-weight: bold;
  margin-bottom: 10px; 
}
.content .container-block .child-block {
  background-color: #00116a;
  height: 400px;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
  overflow: auto;
}
.content .container-block .row {
  display: flex; 
  width: 100%;
  justify-content: space-around; /*không muốn căn giữa các thứ thì xóa hàng này*/
}
.child-block:last-child {
  margin-right: 0;
}
.content .hide {
  display: none;
}
.content .child-block .subject {
  background-color: #6A91F9;
  height: auto;
  width: auto;
  margin: 8px;
  border-radius: 5px;
  text-align:left;
  
}

.content .child-block .subject .text{
  font-size: 16px ;
  color: #FFFFFF;
  line-height: 18.7px;
  margin-left: 5px;
}

.element {
  border-bottom: 3px solid white; 
  padding: 8px; 
  color: #FFFFFF;
}

tbody .element {
  font-size: 18px;
}

.no-border {
  border-bottom: none;
  color: #FFFFFF;
}
.style-table {
  font-size: 24px;
  line-height: 28.06px;
  font-weight: 700px;
  text-align: center;
  border-collapse: collapse;
}


.content .container-block .semester {
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.drop-down-icon {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.bt:hover {
  background-color: #0056b3;
}
/* Phần user's information */

.body-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-infor {
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  line-height: 37.41px;
  border-collapse: collapse; 
  width: 100%;
}

.table-infor .table-menu {
  width: 20vw;
}

.table-infor .data-user {
  width: 30vw;
}
.pad {
  padding: 8px; 
}

.infor-user {
  padding: 10px;
  background-color: #0B53A8;
  border-radius: 10px;
  width: 450px;
}

.input-text {
  font-size: 16px;
  color: white ;
  border: none;
  padding-left: 15px;
}

.input-text::placeholder {
  text-align: center;
}

.update-info-btn {
  font-size: 16px;
  display: block;
  height: 30px;
  width: 7.5vw;
  background-color: #03075c;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.update-info-btn:hover {
  background-color: rgb(230, 230, 230);
  color: black;
  cursor: pointer;
}

