.course-content {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  line-height: 37.41px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.menu-button {
  background-color: #00116A;
  height: 50px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.body-table {
  left: 270px;
}

.section-title {
  margin-top: 30px;
  font: 32px;
  text-align: left;
}

.section-title-2 {
  margin-top: 10px;
  font: 32px;
  text-align: left;
}

.divider {
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #fff;
  margin-top: 11px;
  height: 3px;
  width: 900px;
  left: 270px;
}

.content-item {
  border-radius: 5px;
  background-color: #00116a;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 20px;
  padding: 20px;
  text-align: left;
}

.content-thumbnail {
  border-radius: 5px;
  background-color: #8595eb;
  width: 80px;
  height: 80px;
}

.content-title {
  font-family: Karla, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.course-info {
  margin-bottom: 25px;
}

a.content-title {
  color: white;
  text-decoration: none;
}

a.content-title:hover {
  cursor: pointer;
  text-decoration: underline;
}